.count{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.inc {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    .btn {
        padding: 1em 3em;
    }
}

.raz {
    position: absolute;
    top: 5%;
    left: 90%;
    transform: translate(-50%, -50%);
}
